<%= button_to "Back to Your Profile", user_path(@tank.user_id), method: :get %>
<h1>Tank: <%= @tank.name %></h1>

<p>Size: <%= @tank.gallons %> Gallons</p>
<br><br>

  <% @tank.fish.each do |fish| %>
    <%= image_tag(fish.fish_image, size: "150") %>
    <h4><%= fish.name %></h4>
    <p><%= fish.breed.name %></p> <br>
    <%= button_to "Edit Fish", edit_tank_fish_path(@tank, fish), method: :get %>
    <br><br>
  <% end %>
